:root {
  --color: #999999;
}
* {
  margin: 0;
  padding: 0;
}

body {
  background: black;
  position: absolute;
  left: 50%;
  top: 40%;
}

#bulb-div,
#bulb-span {
  position: absolute;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

#bulb-div::before {
  position: absolute;
  content: "";
  width: 95px;
  border-top: 60px solid grey;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  left: -2px;
  top: 110px;
  transition: all 0.5s ease-in-out;
}

#bulb-div::after {
  position: absolute;
  content: "";
  width: 70px;
  height: 5px;
  background: grey;
  top: 180px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 15px;
  box-shadow: 0px 10px 0 0 grey, 0px 20px 0 0 grey;
}

body::before {
  content: "";
  position: absolute;
  height: 25px;
  width: 50px;
  background: grey;
  top: 135px;
  left: 50%;
  transform: translateX(-50%);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  z-index: 1;
}

#bulb-span,
#bulb-span:focus {
  z-index: 1;
  outline: unset;
  border: none;
}
#bulb-div,
.off {
  box-shadow: 0 0 0px 10px grey;
  background: grey;
  transition: all 0.5s ease-in-out;
}
.on {
  background: var(--color);
  box-shadow: 0 0 0 10px var(--color), 0 0 150px 50px var(--color);
  transition: all 0.5s ease-in-out;
}

.on + #bulb-div::before {
  border-top-color: var(--color);
  transition: all 0.5s ease-in-out;
}

a.power-button {
  cursor: pointer;
  position: absolute;
  top: 195px;
  right: -27px;
  width: 50px;
  height: 50px;
  font-size: 8em;
  border: 2px solid #dedede;
  background-color: #efefef;
  box-shadow: 0px 0px 40px 1px #ddd inset, 0px 2px 4px rgba(0, 0, 0, 0.4),
    1px 1px 4px rgba(0, 0, 0, 0.3), -1px -1px 2px rgba(0, 0, 0, 0.1),
    -1px 1px 2px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: auto;
  border-radius: 50%;
  transition: color 0.8s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
.power-button:hover {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4), 1px 1px 6px rgba(0, 0, 0, 0.3),
    -1px -1px 4px rgba(0, 0, 0, 0.1), -1px 1px 4px rgba(0, 0, 0, 0.1);
}
.power-button.on {
  color: #89ceee;
}
.fa {
  font-size: 50px;
  position: absolute;
  top: 2px;
  right: 3px;
}
