@use "sass:map";
@use "../abstract/colors";
#footer {
  background-color: map.get(colors.$theme-colors, "primary");
  color: map.get(colors.$theme-colors, "font-primary");
  text-align: center;
  height: 25px;
  padding-top: 4px;
}
@media screen and (max-width: 828px) {
  #footer {
    padding-top: 12px;
    height: 40px;
    position: sticky;
    width: 100%;
    bottom: 0;
  }
}
