@use "sass:map";
@use "../abstract/colors";
#middleViewContainer {
  .JsonFormatter {
    background-color: map.get(colors.$theme-colors, "tertiary");
    padding: 10px;
    margin-top: 15px;
    overflow: auto;
    font-size: large;
    text-align: left;
    .json-formatter-row {
      margin-top: 10px;
    }
  }
}
.json-formatter-row {
  span,
  a {
    overflow-wrap: break-word !important;
    white-space: normal !important;
  }
}
#middleViewContainer,
#rightViewContainer {
  .JsonFormatter {
    padding-top: 0;
  }
  .card-body > div:nth-child(1) > a:nth-child(1) {
    display: none;
  }
}
