@use "sass:map";
@use "../abstract/colors";
#middleViewContainer {
  #middleView-title {
    font-weight: 600;
    font-size: x-large;
    color: map.get(colors.$theme-colors, "secondary");
  }
  #middleView-content {
    .btn-submit {
      display: block;
      background-color: map.get(colors.$theme-colors, "secondary");
      color: map.get(colors.$theme-colors, "tertiary");
      width: 80px;
      height: 40px;
      margin: 10px auto 0px auto;
    }
    display: grid;
    grid-template-rows: max-content auto;
    .card {
      background-color: map.get(colors.$theme-colors, "tertiary");
      text-align: left;
    }
    .bi-bullseye,
    .bi-pencil-fill,
    .bi-info-circle-fill {
      color: map.get(colors.$theme-colors, "primary");
      cursor: pointer;
    }
    .bi-info-circle-fill {
      color: map.get(colors.$theme-colors, "primary");
    }
    .bi-bullseye {
      border-radius: 50%;
      text-align: center;
      width: 24px;
      display: inline-block;
      height: 24px;
      padding-top: 3px;
      padding-right: 1px;
      margin-right: 2px;
    }
    // .bi-bullseye:hover {
    //   background-color: green;
    //   border-radius: 50%;
    //   color: white;
    //   text-align: center;
    //   width: 24px;
    //   display: inline-block;
    //   height: 24px;
    //   padding-top: 3px;
    //   padding-right: 1px;
    // }
    .middleView--observeIcon--active {
      background-color: green;
      border-radius: 50%;
      color: map.get(colors.$theme-colors, "tertiary");
      text-align: center;
      width: 24px;
      display: inline-block;
      height: 24px;
      padding-top: 3px;
      padding-right: 1px;
    }
    .middleView--observeIcon--active:hover {
      background-color: map.get(colors.$theme-colors, "primary");
    }

    .middleView-affordanceTitleContainer {
    }
    form {
      height: calc(100vh - 305px);
      text-align: left;
      .middleView-inputsContainer {
        border-radius: 15px;
        height: 100%;
        overflow: auto;
        padding: 0 5px 0 10px;
        span {
          margin-left: 4px;
        }
      }
      .nestedInputsContainer {
        border: 2px solid map.get(colors.$theme-colors, "primary");
        position: relative;
        margin-top: 20px;
        &-active {
          padding-bottom: 10px;
        }
        label {
          margin-left: 5px;
        }
        textarea,
        input[type="text"],
        input[type="number"],
        select {
          width: calc(100% - 20px);
        }
        .header {
          padding: 3px;
          display: block;
          cursor: pointer;
          background-color: map.get(colors.$theme-colors, "tertiary");
          color: map.get(colors.$theme-colors, "primary");
          width: 100%;
          text-align: center;
          margin: 0;
          &-active,
          &:hover {
            background-color: map.get(colors.$theme-colors, "primary");
            color: map.get(colors.$theme-colors, "tertiary");
          }
        }
      }
      textarea,
      input[type="text"],
      input[type="number"],
      select {
        margin: 5px 0 10px 10px;
        border: 2px solid map.get(colors.$theme-colors, "primary");
        display: block;
        width: calc(100% - 10px);
      }
      textarea::placeholder,
      input::placeholder {
        padding: 2px;
        font-size: 0.9rem;
      }
      select {
        height: 28px;
        padding: 1px;
      }
      input[type="checkbox"] {
        background-image: none;
        vertical-align: text-bottom;
        cursor: pointer;
        &:checked,
        &:hover {
          background-color: map.get(colors.$theme-colors, "primary");
        }
      }
      .textareaType-invalid {
        width: 15px;
        background-color: red;
        display: block;
        height: 15px;
        border-radius: 50%;
        position: absolute;
        top: 39px;
        left: -8px;
        z-index: 100;
        cursor: pointer;
      }
      .btn-group {
        margin: 15px 0;
        text-align: center;
        display: block;
        .actionFormSelectButton {
          background-color: map.get(colors.$theme-colors, "primary");
          color: map.get(colors.$theme-colors, "tertiary");
          width: 15%;
          &:hover {
            background-color: map.get(colors.$theme-colors, "tertiary");
            color: map.get(colors.$theme-colors, "primary");
            border: 1px solid map.get(colors.$theme-colors, "primary");
          }
          &-active {
            background-color: map.get(colors.$theme-colors, "tertiary");
            color: map.get(colors.$theme-colors, "primary");
            border: 1px solid map.get(colors.$theme-colors, "primary");
          }
        }
        option:checked {
          color: red;
        }
      }
    }
    .JsonFormatter {
      max-height: 57vh;
    }
    #middleView-propertyForm-input {
      display: block;
      margin: 40px auto 20px;
    }
    #middleView-readMultiplePropertiesForm {
      label {
        position: relative;
        width: 100%;
        padding-left: 30px;
        margin-top: 10px;
        cursor: pointer;
      }
      label:first-child {
        margin-top: 25px;
      }
      input {
        margin: 0;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
      }
      .selectAll {
        &-label {
          text-align: right;
        }
        &-input {
          display: inline;
          position: relative;
          display: inline-block;
          float: none;
          margin-right: 10px;
        }
      }
    }
  }
}
#middleView--refreshIcon {
  display: inline-block;
  background-color: map.get(colors.$theme-colors, "primary");
  border-radius: 50%;
  margin-right: 2px;
  cursor: pointer;
  vertical-align: -1px;
  color: map.get(colors.$theme-colors, "tertiary");
  padding: 0;
  padding-top: 2px;
  padding-right: 1px;
  width: 17px;
  height: 17px;
  font-size: 14px;
  border-bottom-width: 0px;
  border-bottom-style: solid;
}
#middleView--backIcon {
  position: absolute;
  cursor: pointer;
  color: map.get(colors.$theme-colors, "secondary");
  font-size: 22px;
  display: none;
  // .middleView--backIcon-show {
  //   display: inline;
  // }
}
#middleView-propertyForm {
  label {
    position: relative;
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
  }
  label:first-child {
    margin-top: 20px;
  }
  input,
  select {
    border: 2px solid map.get(colors.$theme-colors, "primary");
  }
}
#middleView--subscribeEvent,
#middleView--unsubscribeEvent {
  color: map.get(colors.$theme-colors, "tertiary");
  text-align: center;
  margin: 60px auto;
  width: 110px;
  height: 40px;
}
#middleView--subscribeEvent {
  background-color: green;
}
#middleView--unsubscribeEvent {
  background-color: red;
}
