@use "sass:map";
@use "../abstract/colors";
#navbar {
  background-color: map.get(colors.$theme-colors, "primary");
  #consumingForm {
    input[type="file"] {
      display: none;
    }
    input {
      width: 200px;
      height: 30px;
      background-color: map.get(colors.$theme-colors, "bg-secondary");
      border: 0;
    }
  }

  .bi-gear {
    color: map.get(colors.$theme-colors, "font-primary");
    padding-top: 4px;
    font-size: 25px;
  }
  button {
    background-color: map.get(colors.$theme-colors, "secondary");
    color: map.get(colors.$theme-colors, "font-primary");
    width: 78px;
    font-size: 15px;
    font-weight: 600;
    height: 30px;
    padding: 0;
    vertical-align: baseline;
    margin-left: 5px;
  }
  button:hover {
    background-color: map.get(colors.$theme-colors, "tertiary");
    color: map.get(colors.$theme-colors, "secondary");
    border: 2px solid map.get(colors.$theme-colors, "secondary");
  }
  #thingsAvatarContainer {
    .thingAvatar {
      width: 40px;
      height: 40px;
      text-align: center;
      border-radius: 50%;
      display: inline-block;
      margin-right: 5px;
      margin-top: 5px;
      font-size: 18px;
      font-weight: 600;
      cursor: pointer;
      padding-top: 8px;
      color: map.get(colors.$theme-colors, "bg-secondary");
      background-color: map.get(colors.$theme-colors, "secondary");
      border: 2px solid map.get(colors.$theme-colors, "tertiary");
      cursor: pointer;
    }
    .currentThingAvatar,
    .thingAvatar:hover {
      background-color: map.get(colors.$theme-colors, "bg-secondary");
      color: map.get(colors.$theme-colors, "secondary");
      border: 2px solid map.get(colors.$theme-colors, "secondary");
    }
  }
  #settingsIcon {
    margin-top: 5px;
    cursor: pointer;
    &:hover::before {
      background-color: map.get(colors.$theme-colors, "font-primary");
      color: map.get(colors.$theme-colors, "secondary");
      border: 2px solid map.get(colors.$theme-colors, "secondary");
      border-radius: 15px;
    }
    &::before {
      padding: 2px;
    }
  }
}
