@use "sass:map";
@use "../abstract/colors";
#rightViewContainer {
  .body-row-1 {
    font-weight: 600;
    font-size: x-large;
    color: map.get(colors.$theme-colors, "secondary");
  }
  .body-row-2 {
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
  }
  .card {
    border: none;
    &-header {
      text-align: left;
      border: none;
      border-bottom: 2px solid map.get(colors.$theme-colors, "bg-secondary");
      font-size: 0.9rem;
    }
    &-footer {
      border: none;
      text-align: right;
      font-size: small;
      height: 20px;
      padding: 2px;
    }
    &-header,
    &-footer {
      cursor: pointer;
      &-pointer-none {
        cursor: default;
        border: none;
      }
    }
    width: 90%;
    &-body {
      background-color: map.get(colors.$theme-colors, "bg-secondary");
      text-align: left;
      height: auto;
    }
    &-request {
      .card-header,
      .card-footer {
        color: map.get(colors.$theme-colors, "font-primary");
        background-color: map.get(colors.$theme-colors, "primary");
      }
    }
    &-response {
      margin-left: auto;
      .card-header,
      .card-footer {
        color: map.get(colors.$theme-colors, "tertiary");
        background-color: green;
      }
      .card-footer {
      }
      &-failed {
        .card-header,
        .card-footer {
          color: map.get(colors.$theme-colors, "tertiary");
          background-color: red;
        }
      }
      &-notification {
        .card-header,
        .card-footer {
          background-color: #df7900;
        }
      }
    }
  }
}
